/* Настройки */
html {
    box-sizing: border-box; 
}
*, 
*::before, 
*::after { 
    box-sizing: inherit; 
}

@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../fonts/robotobold.woff); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../fonts/robotobold.woff2); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../fonts/robotomedium.woff); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../fonts/robotomedium.woff2); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../fonts/roboto.woff); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../fonts/roboto.woff2); /* Путь к файлу со шрифтом */
}

/*
    @font-face {
        font-family: Roboto; Имя шрифта
        src: url(../fonts/Roboto-Bold.ttf); Путь к файлу со шрифтом
    }
    @font-face {
        font-family: Roboto; Имя шрифта
        src: url(../fonts/Roboto-Medium.ttf);  Путь к файлу со шрифтом
    }
    @font-face {
        font-family: Roboto; Имя шрифта
        src: url(../fonts/Roboto-Regular.ttf); Путь к файлу со шрифтом
    }
*/

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 13px;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
/*
    background-image: url("../img/bg-sites/nerds-index.jpg");
    background-image: url("../img/bg-sites/nerds-index-width-slide-2.png");
    background-image: url("../img/bg-sites/nerds-index-width-slide-3.png");
    background-image: url("../img/bg-sites/nerds-catalog.jpg");
    background-image: url("../img/bg-sites/nerds-index-subs.png");
    background-image: url("../img/bg-sites/nerds-catalog-subs.png");
*/
}

img {
    max-width: 100%;
}

.visually-hidden {
    text-align: center;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.catalog-item-price {
    position: relative;
    top: -234px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 361px;
    height: 230px;

    background-color: #eeeeee;
    text-align: center;
    display: none
}

.catalog-item-price a {
    display: block;

    position: relative;
    top: 17px;

    width: 240px;

    padding-top: 19px;
    padding-right: 55px;
    padding-left: 53px;
    padding-bottom: 19px;

    color: #ffffff;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    background-color: #fb565a;
    border-radius: 5px;
    border: none;

}
.catalog-item-price p:first-child {
    position: relative;
    top: 19px;
    right: 2px;

    font-size: 18px;
    font-weight: bold;
}
.catalog-item-price p:nth-child(2) {
    position: relative;
    top: 7px;
    right: 0px;

    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    color: #666666;
    text-transform: none;
}

a {
    text-decoration: none;
}

.site-navigation,
.basket-link,
.features-list,
.footer-social ul,
.sites-list {
    list-style: none;
}

.main-header,
.shop-ok {
    min-height: 135px;
    background-color: #eeeeee;
}
/* Настройки */

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* Шапка на страницах главная и каталог */
.site-navigation li a,
.basket-link a {
    font-size: 16px;
    line-height: 34px;
    color: black;
}
.site-navigation li a:hover,
.basket-link a:hover {
    color: #fb565a;
    transition: 0.2s;
}
.site-navigation li a:focus,
.basket-link a:focus {
    color: #a6a6a6;
    transition: 0.2s;
}
.site-navigation li a:active,
.basket-link:active,
.shop-underline {
    padding-bottom: 9px;

    border-bottom: 2px solid #fb565a;
    color: black;
    transition: 0.2s;
}

.main-navigation {
    display: flex;
}

.main-header-logo {
    position: absolute;
    cursor: pointer;
}
.main-header-logo img {
    margin-top: 49px;
    margin-right: 200px;
}
.main-header-logo:hover {
    background-image: url("../img/nerds-logo-hover.png");
    background-repeat: no-repeat;
    background-position: 0 49px;
    opacity: .8;
}
.main-header-logo:active {
    background-image: url("../img/nerds-logo-active.png");
    background-repeat: no-repeat;
    background-position: 0 49px;
    opacity: .5;
}

.user-navigation {
    margin-top: 0;
    margin-left: auto;
}

.site-navigation {
    display: flex;
    margin-top: 0;
    padding-top: 73px;
    padding-left: 363px;
}

.site-navigation li {
    padding-right: 47px;
}
.site-navigation li:last-child {
    padding-right: 0px;
}

.user-navigation .basket-link {
    position: relative;
    height: 110px;
    margin-left: -39px;
}

.user-navigation:last-child {
    width: 115px;
}
.basket-link {
    display: flex;
    width: 115px;
    padding-top: 73px;
}
.basket-link a {
    position: absolute;
    right: 2px;
    padding-left: 40px;
}
.basket-link img {
    position: relative;
    top: 7px;

    border-style: none;
    cursor: pointer;
}
/* Шапка на страницах главная и каталог */

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
.slider {
    position: relative;
    max-height: 410px;

    background-color: #eeeeee;
}

.slider-controls {
    position: absolute;
    width: 160px;
    height: 18px;
    top: 288px;
    left: 50.3%;
    bottom: 104px;

    z-index: 100;

    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 19px;

    border-radius: 50%;
    cursor: pointer;

    vertical-align: top;
}

.slider-controls label::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 8px;
    left: 8px;

    z-index: 1;

    background: #ffffff;
    border-radius: 50%;
}

.slider-list {
    height: 413px;

    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item {
    display: none;
    height: 413px;

    padding: 78px 0 80px 0;
}

.slider-item img {
    width: 760px;
    height: 431px;

    position: relative;
    top: -352px;
    left: 397px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    margin: -4px;
    left: 50%;
    top: 50%;

    z-index: 2;

    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-item h3 {
    max-width: 600px;
    margin-top: -21px;
    margin-right: 0px;
    margin-bottom: 27px;
    margin-left: 0px;

    font-size: 55px;
    line-height: 55px;
    text-transform: none;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;

    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #676d70;
    text-transform: none;
}

.button {
    display: block;
    width: 240px;
    padding-top: 19px;
    padding-right: 55px;
    padding-left: 53px;
    padding-bottom: 19px;

    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none; 
    color: #ffffff;
    background-color: #fb565a;
    border-radius: 5px;
    border: none;
}

.button:hover {
    background-color: #e74246;
    transition: 1s;
}
.button:focus {
    background-color: #e74246;
    transition: 0.2s;
}

.button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* Преимущества */
.features {
    min-height: 507px;
    margin-top: -46px;
}
.features-list {
    display: flex;
    margin-top: 94px;
    padding-left: 0;
}
.feature-item {
    width: 300px;
    min-height: 347px;
    margin-top: 32px;
    margin-right: 63px;
    margin-left: 37px;
}
.feature-item:first-child {
    margin-left: 0;
}

.feature-item h3 {
    padding-bottom: 0px;

    font-size: 24px;
    line-height: 28px;
    color: #283136;
}
.feature-item p {
    margin-top: -7px;
    margin-bottom: 47px;

    font-size: 16px;
    text-transform: none;
    line-height: 26px;
    color: #283136;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn-app {
    padding-top: 19px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 19px;
}

/* "заказать" на главной странице */
.button-web {
    background-color: #fb565a;

    font-size: 16px;
    font-weight: lighter;
    color: #ffffff;
}
.button-web:hover {
    background-color: #e74246;
    color: #ffffff;
    transition: 1s;
}
.button-web:focus {
    background-color: #d7373b;
    color: #e37376;
}

.button-app {
    background-color: #00ca74;

    font-size: 16px;
    font-weight: lighter;
    color: #ffffff;
}
.button-app:hover {
    background-color: #00bc6c;
    color: #ffffff;
    transition: 1s;
}
.button-app:focus {
    background-color: #00aa62;
    color: #43c08b;
}

.button-present {
    background-color: #efc84a;

    font-size: 16px;
    font-weight: lighter;
    color: #ffffff;
}
.button-present:hover {
    background-color: #eab534;
    color: #ffffff;
    transition: 1s;
}
.button-present:focus {
    background-color: #e5a722;
    color: #edc265;
}
/* "заказать" на главной странице */
/* Преимущества */

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* Мы — маленькая, но гордая дизайн-студия из Краснодара */
.about-us {
    position: absolute;
    display: flex;
    min-height: 525px;
    margin-top: -10px;
}

.about-us__services {
    position: absolute;
    width: 664px;
    margin-top: 42px;
    margin-right: -332px;
}
.about-us__services h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 41px;
    color: #000000;
    text-transform: none;
}
.about-us__services p {
    position: relative;
    top: -1px;


    font-weight: 400;
    font-size: 16px;
    color: #283136;
    line-height: 24px;
    text-transform: none;
}

.services-flex {
    display: flex;
    flex-direction: column;

    position: relative;
    top: -1px;
    margin-top: 30px;
    padding-left: 0;

    list-style: none;
}

.services-flex li:nth-child(2) img {
    position: relative;
    top: 15px;
    left: 1px;
}
.services-flex li:nth-child(2) p {
    top: -16px;
    left: 36px;
}
.services-flex li:nth-child(3) img {
    position: relative;
    top: -6px;
    left: 1px;
}
.services-flex li:nth-child(3) p {
    top: -38px;
    left: 36px;
}
.services-flex li:nth-child(4) img {
    position: relative;
    top: -27px;
    left: 1px;
}
.services-flex li:nth-child(4) p {
    top: -58px;
    left: 36px;
}

.services-flex h3,
.about-us__info p {
    font-size: 16px; 
    font-weight: bold;
    color: #000000;
}

.about-us__info {
    position: absolute;
    width: 357px;
    margin-top: 39px;
    margin-left: 805px;
}
.about-us__info p {
    position: relative;
    top: 25px;
    left: 12px;
}

.info-statistics__flex {
    display: flex;
    position: relative;
    top: 2px;
    right: 16px;
}
.info-statistics__flex--column-1 p {
    font-size: 45px; 
    font-weight: bold;
    color: #000000;
}
.info-statistics__flex--column-1 p:nth-child(2),
.info-statistics__flex--column-1 p:nth-child(3) {
    padding-left: 18px;
}
.info-statistics__flex--column-1 p sup {
    position: relative;
    top: -12px;
}

.info-statistics__flex--column-2 p {
    margin-top: -8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #283136;
    text-transform: none;
}
.info-statistics__flex--column-2 p:nth-child(2) {
    position: relative;
    left: 21px;
    padding-right: 2px;
    padding-left: 15px;
}
.info-statistics__flex--column-2 p:nth-child(3) {
    padding-left: 28px;
}

/* Мы — маленькая, но гордая дизайн-студия из Краснодара */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* Линии между секциями */
.line {    
    height: 2px;
    margin-top: -15px;
    color: #eeeeee;
}

.line-1 {
    margin-top: -63px;
}
.line-2 {
    margin-top:523px;
}
.line-3 {
    margin-top: -2px;
}

.line-brands {
    width: 52px;
    margin-top: 89px;
    transform: rotate(90deg);
}
/* Линии между секциями */

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* Брэнды */
.brands {
    display: flex;
    min-height: 182px;
    margin-top: -8px;
}
.brands a:first-child {
    margin-left: 1px;
}
.brands a:nth-child(2) {
    margin-left: -6px;
}
.brands a:nth-child(3) {
    margin-left: -4px;
}
.brands a:last-child {
    padding-right: 2px;
    margin-left: 1px;
}

.brands a:hover {
    opacity: .2;
    transition: 0.5s;
}
/* Брэнды */

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* Пагинатор */

.paginator {
    margin-top: -982px;
    margin-left: 400px;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    align-items: center;
    list-style: none;
}

.pagination-item {
    margin-right: 11px;
    margin-top: 26px;
}

.pagination-item:last-child {
    min-width: 260px;
    margin-right: 0;

    text-align: center;
}

.pagination-item a {
    z-index: 1;
    display: block;
    position: relative;
    padding: 16px 21px;

    background-color: #eeeeee;
    border-radius: 3px;
    line-height: 18px;
    color: black;
    text-decoration: none;
}

.pagination-item a:hover {
    background-color: #dfdfdf;
    transition: 1s;
}

.pagination-item a:active {
    background-color: #bfbfbf;
    color: rgba(0, 0, 0, 0.3)
}

.pagination-item a:active::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 47px;
    top: 3px;
    left: 0;
    
    background-color: #d5d5d5;
    border-radius: 3px;
}

.pagination-item-current a {
    padding: 13px 18px;
    background: none;
    border: 3px solid #dbdbdb;
}

.pagination-item-current a:hover {
    background-color: white;
}

.pagination-item-current a:active {
    background-color: white;
}

.pagination-item-current a:active::before {
    content: "";
    width: 0;
    height: 0;
    background-color: white;
}
/* Пагинатор */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* Карта и форма обратной связи */
.map {
 
    height: 414px;
    max-width: 1440px;
    max-height: 416px;

    margin-top: 222px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

/*  
    background-image: #b5b5b5 url("../img/map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
*/
}
.map-container {
    margin: 0 auto;
}

.map__catalog {
    margin-left: 100px;

}

.map .container,
.map .map-container {
    display: flex;
    margin-top: -144px;

    justify-content: flex-start;
    align-items: center;
}
.map__contacts-subs {
    position: absolute;
    top: 1848px;
    display: flex;
    flex-direction: column;
    width: 319px;
    height: 308px;

    margin-top: 200px;

    background-color: white;
}
.map__contacts-subs h3 {
    padding-top: 38px;
    padding-left: 49px;

    font-weight: bold;
    font-size: 18px;
    color: #000000;
}
.map__contacts-subs p {
    padding-left: 56px;

    font-weight: 400;
    font-size: 16px;
    color: #c1c1c1;
    text-transform: none;
}
.map__contacts-subs p a {
    color: #c1c1c1;
}
.map__contacts-subs-index {
    margin-top: 53px;
    margin-left: 140px;
}
.map__contacts-subs-catalog {
    margin-top: -1796px;
}

iframe {
    border: none;
    height: 414px;
    width: 1440px;
}
/* Карта и форма обратной связи */

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* Подвал на страницах главня и каталог */
.footer-social {
    display: flex;
    min-height: 217px;
}

.social {
    display: flex;

    margin-top: 0px;
    padding-top: 40px;
    padding-left: 2px;
    padding-right: 110px;
}

.text {
    padding-top: 7px;
    padding-left: 20px;
}
.footer-social__discount {
    margin-top: -10px;
}

.footer-social__friendship {
    font-size: 36px;
    line-height: 13px;
    color: #000000;
    text-transform: none;
}
.footer-social__discount {
    font-size: 16px;
    font-weight: normal;
    color: #444444;
    text-transform: none;
}

.social-button {
    display: flex;
    width: 79px;
    height: 79px;
    margin-right: 10px;

    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-button:hover path {
    background-color: #e74246;
    color: #ffffff;
    transition: 1s;
}
.social-button:focus path {
    background-color: #d7373b;
    color: #e37376;
}

.social-button:hover {
    background-color: #e74246;
    color: #ffffff;
    transition: 1s;
}
.social-button:focus {
    background-color: #d7373b;
    color: #e37376;
}
/* Подвал на страницах главня и каталог */

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
.sites-list li p a img {
    opacity: 0.2;
}
.sites-list li p a img:hover {
    transition: 1s;
    opacity: 1;
}

.strong-filter__flex p:first-child, /* сортировать */
.filter-item legend { /* стоимость */
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
.strong-filter__flex a:nth-child(2), /* по цене */
.strong-filter__flex a:nth-child(3), /* по типу */
.strong-filter__flex a:nth-child(4) { /* по названию */
    font-size: 14px;
    font-weight: 400;
    color: #b2b2b2;
}
.strong-filter__flex a:nth-child(2):hover,
.strong-filter__flex a:nth-child(3):hover, 
.strong-filter__flex a:nth-child(4):hover {
    font-size: 14px;
    font-weight: 400;
    color: #666666;

    cursor: pointer;
    transition: 0.5s;
}
.strong-filter__flex a:nth-child(2):hover,
.strong-filter__flex a:nth-child(3):hover, 
.strong-filter__flex a:nth-child(4):hover,
.strong-filter__flex img:hover {
    cursor: pointer;
}
.strong-filter__flex a:nth-child(2):active,
.strong-filter__flex a:nth-child(3):active, 
.strong-filter__flex a:nth-child(4):active,
.strong-filter__flex a:nth-child(2):focus,
.strong-filter__flex a:nth-child(3):focus, 
.strong-filter__flex a:nth-child(4):focus {
    color: #000000;
    cursor: pointer;
}

.strong-filter__flex {
    display: flex;
    position: relative;
    top: -92px;
    left: 525px;
}
.strong-filter__flex a {
    position: relative;
    top: 19px;
    left: 267px;
    width: 123px;
}
.strong-filter__flex a:nth-child(3) {
    left: 236px;
}
.strong-filter__flex a:nth-child(4) {
    left: 207px;
}

.price-controls label { /* от и до */
    font-size: 16px;
    font-weight: 400;
    color: #797c7f;
}

.strong-filter__flex img {
    position: relative;
    top: 20px;
    left: 240px;
    opacity: .1;
}
.strong-filter__flex img:last-child {
    left: 260px;
}
.strong-filter__flex img:hover {
    opacity: .2;
    transition: 0.5s;
}
.strong-filter__flex img:active,
.strong-filter__flex img:focus {
    opacity: 1;
    transition: 0.5s;
}

.range-controls {
    height: 79px;
    position: relative;
    top: 56px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f1f1f1;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 50px;
}

.range-controls .toggle-max {
    left: 110px;
}

.price-controls {
    position: relative;
    top: 58px;

    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;

    vertical-align: top;
}

.price-controls input {
    position: relative;
    left: 4px;
    width: 80px;
    margin-left: 10px;
    padding: 8px 10px;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;

    border: none;
    border-radius: 5px;
    background: #f1f1f1;

}

.max-price {
    position: relative;
    left: 24px;

    text-align: right;
}
/* фильтр на странице каталога */

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* "показать" на странице каталога */
.filter-strong {
    margin-top: -200px;
}

.sites-form-filter-button:hover {
    background-color: #dfdfdf;
    color: #000000;
}
.sites-form-filter-button:focus {
    background-color: #d5d5d5;
    color: #959595;
}

.sites-form-filter-button {
    position: relative;
    top: 130px;
    left: 1px;
    padding-top: 17px;
    padding-left: 80px;
    padding-right: 90px;
    padding-bottom: 17px;

    background-color: #eeeeee;

    font-size: 16px;
    font-weight: bolder;
    color: #000000;
    text-transform: uppercase;

    border: none;
    border-radius: 5%;
    cursor: pointer;
}
/* "показать" на странице каталога */

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* МАГАЗИН ГОТОВЫХ ШАБЛОНОВ */
.shop-ok {
    margin: 0 auto;
    min-height: 230px;
    margin-top: -37px;

    text-align: center;
}
.shop-ok h1 {
    padding-top: 76px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 55.5px;
    font-weight: bold;
    text-transform: none;
}
/* МАГАЗИН ГОТОВЫХ ШАБЛОНОВ */

/* Фильтр готовых шаблонов */

.sites {
    min-height: 2107px;
    margin-top: 447px;
}

.sites-form {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 275px;
    top: -320px;
    left: -126px;
}

.item-sect__img-broswer {
    opacity: 0.2;
}

.catalog-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 760px;
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    top: -966px;
    left: 401px;

    list-style: none;
}

.catalog-item {
    margin-bottom: 34px;
}
.catalog-item:nth-child(2),
.catalog-item:nth-child(4),
.catalog-item:nth-child(6) {
    margin-right: 3px;
}

.item-sect {
    position: relative;
    width: 358px;
    margin: 0;

    text-align: center;
}

.item-sect:hover {
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 15px 20px rgba(0,0,0,.22), 0 19px 60px rgba(0,0,0,.3);
}

.item-info {
    display: none;
    position: absolute;
    width: 360px;
    height: 230px;
    bottom: 0;
    padding-bottom: 44px;

    box-sizing: border-box;
    background-color: #eeeeee;
}

.item-sect:hover .item-info {
    display: block;
    transition: 1s;
}
.item-sect:hover .item-sect__img-broswer {
    opacity: 1;
    transition: 1s;
}

.item-info h3 {
    margin: 0;
    margin-top: 29px;

    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.item-info .item-text {
    max-width: 250px;
    margin: 0;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
    text-transform: none;
}

.item-price {
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 50px;
    display: inline-block;
    box-sizing: border-box;
    left: 80px;
    bottom: 43px;

    padding-top: 17px;
    padding-bottom: 19px;

    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #fb565a;

    vertical-align: top;
}

.item-price:hover {
    background-color: #e74246;
    transition: 1s;
}

.item-price:active {
    background-color: #c13135;
}

.item-price:active::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 200px;
    height: 47px;

    background-color: #d7373b;
    border-radius: 3px;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

.sites-form form {
    position: relative;
    top: -71px;
    left: -375px;
}

.filters {
    width: 180px;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    border: none;
}

.filter fieldset:first-child {
    margin-bottom: 68px;
}
.filter fieldset:nth-child(2) {
    position: relative;
    top: 55px;
    left: 2px;
}
.filter fieldset:nth-child(3) {
    position: relative;
    top: 91px;
    left: 2px;
}

.filter legend {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
.filter ul {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #283136;

    text-transform: none;
    list-style: none;
}

.filter-table,
.filter-special {
    position: relative;
    top: 26px;
    left: -9px;
}

.filter-option label,
.filter-option label:hover {
    color: #283136;
}
.filter-option label:active {
    color: #bec1c2;
}

.filter-option {
    margin-bottom: 19px;
    padding-left: 45px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 19px;
    left: -36px;
    top: 0;

    border: 2px solid #b8b8b8;
}

.filter-input-checkbox:checked + label:hover::after {
    background-image: #b5b5b5 url(../img/checkbox-on-hoever.png);
}
.filter-input-checkbox:checked + label:active::after {
    background-image: #b5b5b5 url(../img/checkbox-on-ok.png);
    border-color: #e5e5e5;
}

.filter-input-checkbox + label:hover::before {
    border-color: #4d4d4d;
}
.filter-input-checkbox + label:active::before {
    border-color: #e5e5e5;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 19px;
    top: -1px;
    left: -36px;

    background-image: url(../img/checkbox-on.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -33px;
    top: -3px;

    border: 4px solid #b8b8b8;
    border-radius: 50%;
}
.filter-input-radio + label:hover::before {
    border-color: #4d4d4d;
}
.filter-input-radio + label:active::before {
    border-color: #ededed;
}

.filter-input:disabled + label {
    color: #000000;
    opacity: 0.5;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 3px;
    left: -27px;

    background-color: #b8b8b8;
    border-radius: 50%;
}
.filter-input-radio:checked + label:hover::after {
    background-color: #4d4d4d;
}
.filter-input-radio:checked + label:active::after {
    background-color: #ededed;
}

.catalog {
    width: 700px;
}

.map-catalog {
    position: relative;
    top: -423px;
    width: 100%;
    margin-bottom: -82px;
}

.catalog-footer {
    margin-top: -394px;
}

.main-footer-catalog {
    margin-top: -25px;
}
/* Фильтр готовых шаблонов */
.main-footer-index {
    margin-top: 16px;
    padding-top: 15px;
}
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* Модальное окно */

.modal {
    position: fixed;
  
    display: none;
  
    color: #000000;
  
    z-index: 200;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  }
  
  .modal-show {
    display: block;
    
    animation: bounce 0.6s;
  }
  
  .modal-error {
    animation: shake 0.6s;
  }
  
  .modal-write {
    box-sizing: border-box;
    bottom: 134px;
    left: 50%;

    width: 960px;
    height: 591px;
    margin-left: -480px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 75px;
    padding-bottom: 85px;
  }
  
  .modal-close {
    position: absolute;
    top: 85px;
    right: 87px;
    width: 21px;
    height: 22px;

    font-size: 0;
    background-color: transparent;
    border: 0;
  }

  .modal-close::before,
  .modal-close::after {
    content: "";
  
    position: absolute;
    top: 10px;
    left: 2px;
  
    width: 19px;
    height: 3px;
  
    background-color: #fb565a;
    opacity: 0.3;
  }
  .modal-close:hover::before,
  .modal-close:hover::after {
    background-color: #fb565a;
    opacity: 1;

    transition: 1s;
  }
  .modal-close:focus::before,
  .modal-close:focus::after {
    background-color: #fb565a;
    opacity: 0.1;

    transition: 1s;
  }
  
  .modal-close::before {
    transform: rotate(45deg);
  }
  
  .modal-close::after {
    transform: rotate(-45deg);
  }
  
  .modal-write h2 {
    margin-top: 11px;
    margin-bottom: 60px;

    font-size: 45px;
    font-weight: bold;
    text-transform: none;
  }
  
  .write-form p {
    margin: 0;
    margin-bottom: 10px;
  }

  .text-flex {
    display: flex;
    flex-direction: column;
  }
  .text-flex label  {
    margin-top: 35px;
  }

  .write-form-flex {
      display: flex;
  }
  
  .write-form input:focus {
    border-color: #663d15;
  }
  
  .header-label {
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
  }

  .write-user {
    width: 356px;
    height: 46px;

    padding-top: 16px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 18px;
  }
  .your-name {
    margin-right: 44px;
  }
  .your-e-mail {
    margin-right: 0px;
  }

  .write-user,
  .write-text {
      margin-top: 13px;
  }
  
  .write-text {
    width: 757px;
    height: 114px;

    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 83px;
  }
  
  .placeholder-txt {
    font-size: 16px;
    font-weight: 400;
    color: #c1c1c1;
    text-transform: none;
  }
  
  .write-form .button {
    margin-right: 0;
  }

  @keyframes bounce {
    0% {
      transform: translateY(2000px);
    }
  
    70% {
      transform: translateY(-30px);
    }
  
    90% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }

  .write-form-button {
    width: 219px;
    height: 50px;
    margin-left: 50px;
    padding-top: 15px;

    border-radius: 5%;
    text-transform: uppercase;
  }

  .btn-pointer {
    cursor: pointer;
  }

  .btn-modal {
    margin-top: 52px;
    width: 259px;
    height: 49px;
  }

  .write-form p input:not(:placeholder-shown),
  .write-form-flex p input:not(:placeholder-shown) { 
    border: 2px solid green;
  }
  .write-form p  input:placeholder-shown,
  .write-form-flex p  input:placeholder-shown { 
    border: 2px solid red;
  }
/* Модальное окно */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */